# VS &VSCode
.vscode/settings.json
.vscode/launch.json
.vs

# Netbeans
/nbproject
/nbproject/private/


# ctags
/tags
/tags.lock
/tags.temp

# Composer
/vendor

# Mac
.DS_Store

# Vim
.*.swp
.php-cs-fixer.cache
.php_cs.cache
.sass-cache

# Http
.htaccess

# npm
/node_modules

